body {
  font-family: 'Roboto', sans-serif;
}

hr {
  border-top: 2px solid #eee;
}

img {
  width: 100%;
}

.mobileNavBar.is-shown {
  display: none;
}

.main-nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.main-nav ul a {
  color: rgba(28,28,28,.39999999999999997);
  text-decoration: none;
  font-weight: 600;
  line-height: 2rem;
}

#lower-logo {
  display: none;
}

#topNav {
  display: none;
}

.header-text {
  font-family: 'EB Garamond', serif;
  text-align: center;
  padding-top: 1rem;
}

.header-text a {
  text-decoration: none;
  color: #000;
}

.main-content > section{
padding: 1rem;
text-align: center;
}

.tag-line {
  padding-bottom: 0 !important;
  text-align: center;
}

.tag-line > h3 {
  font-weight: 300;
  font-size: 20px;
}

.wedding-couple h1 {
  font-weight: 300;
  font-family: 'EB Garamond', serif;
  font-size: 3rem;
}

.wedding-couple h2 {
  font-weight: 300; 
  font-size: 20px
}

.wedding-couple em {
font-family: 'Cormorant Garamond', serif;
font-style: italic;
font-weight: 300;
}

.wedding-date h3 {
  font-weight: 300; 
  font-size: 20px
}

.wedding-invitation h2 {
  font-family: 'EB Garamond', serif;
  font-weight: 300; 
  font-size: 20px
}

.mobileNavBar {
border-bottom: 2px solid #eee;
padding: 1rem 1rem 0rem;
margin: 0rem 1rem;
}

.mobileNavButton {
border-bottom: 2px solid #eee;
margin: 0rem 1rem;
text-align: center;
font-size: 16px;
color: rgba(28,28,28,.7)
}

.mobileNavButton p {
  width: 100%;
  padding: 0.5rem;
  font-size: 20px;
  margin: 0;
}

.image-container {
  padding: 1rem;
}

.wedding-details {
  text-align: center;
  padding: 1rem;
}

.wedding-details h1, h3, p {
  font-weight: 300;
}

.reception-details {
  text-align: center;
  padding: 0rem 0rem 1rem 0rem;
}

.reception-details h1, h3, p {
  font-weight: 300;
}

.photo-gallery ol {
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.photo-gallery li {
  width: 90%;
  padding: 0rem 0rem 1rem 0rem;
  list-style: none;
}

.rsvp-form {
  padding: 1rem;
}

.rsvp-form input, textarea {
  border: 1px solid #ccc;
  background: #fafafa;
  width: 100%;
  padding: 12px;
  margin-bottom: 1rem;
}

/* .input-name {
  width: 45% !important;
}

.last-name {
  margin-left: 3.2rem;
} */

.rsvp-button {
  text-align: center;
}

.rsvp-button button {
  color: #fff;
  background-color: #272727;
  border-color: #272727;
  padding: 0.5rem 2rem;
}

footer {
  border-top: 2px solid #eee;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

@media only screen and (min-width: 568px) and (max-width: 768px) {
  #mobileNav {
    display: none;
  }

  .mobileNavButton {
    display: none;
  }
  #topNav {
    display: inline;
  }

  .main-nav ul {
    display: flex;
    justify-content: space-evenly;
  }

  .main-nav li a.is-active {
    /* color: #1c1c1c; */
    border-bottom: 2px solid #eee;
  }

  .main-nav li a:hover {
    border-bottom: 2px solid #eee;
  }

  .nav-divider {
    border-bottom: 2px solid #eee;
    width: 3rem;
    margin-bottom: 0.9rem;
  }
}

@media only screen and (min-width: 769px) {
  #mobileNav {
    display: none;
  }

  .mobileNavButton {
    display: none;
  }

  #topNav {
    display: inline;
  }

  .main-nav ul {
    display: flex;
    justify-content: space-evenly;
  }

  .main-nav li a.is-active{
    /* color: #1c1c1c; */
    border-bottom: 2px solid #eee;
  }

  .main-nav li a:hover {
    border-bottom: 2px solid #eee;
  }

  .nav-divider {
    border-bottom: 2px solid #eee;
    width: 3rem;
    margin-bottom: 0.9rem;
  }
}