body {
  font-family: 'Roboto', sans-serif;
}

hr {
  border-top: 2px solid #eee;
}

img {
  width: 100%;
}

#lower-logo {
  display: none;
}

#topNav {
  display: none;
}

.header-text {
  font-family: 'EB Garamond', serif;
  text-align: center;
}

.header-text a {
  text-decoration: none;
  color: #000;
}

.main-content > section{
padding: 1rem;
text-align: center;
}

.tag-line > h3 {
  font-weight: 300;
  font-size: 20px;
}

.wedding-couple h1 {
  font-weight: 300;
}

.wedding-couple h2 {
  font-weight: 300; 
  font-size: 20px
}

.wedding-couple em {
font-family: 'Cormorant Garamond', serif;
font-style: italic;
font-weight: 300;
}

.wedding-date h3 {
  font-weight: 300; 
  font-size: 20px
}

.wedding-invitation h2 {
  font-family: 'EB Garamond', serif;
  font-weight: 300; 
  font-size: 20px
}

.mobileNavBar {
border-bottom: 2px solid #eee;
}

.mobileNavButton {
border-bottom: 2px solid #eee;
}

.image-container {
  padding: 1rem;
}

footer {
  border-top: 2px solid #eee;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
}